<main>
  <app-card
    gamePhoto="Neva.avif"
    gameName="Neva"
    gameSize="FullGame"
    gamePlatform="PS4"
    gamePrice="59,99"
  ></app-card>
  <app-card
    gamePhoto="AstroBot.avif"
    gameName="Astro Bot"
    gameSize="FullGame"
    gamePlatform="PS5"
    gamePrice="49,99"
  ></app-card>
  <app-card
    gamePhoto="GodOfWar.avif"
    gameName="God of War"
    gameSize="FullGame"
    gamePlatform="PS5"
    gamePrice="79,99"
  ></app-card>
  <app-card
    gamePhoto="SeaOfStars.avif"
    gameName="Sea of Stars"
    gameSize="FullGame"
    gamePlatform="PS4"
    gamePrice="39,99"
  ></app-card>
  <app-card
    gamePhoto="EldenRing.avif"
    gameName="Elden Ring"
    gameSize="FullGame"
    gamePlatform="PS5"
    gamePrice="79,99"
  ></app-card>
  <app-card
    gamePhoto="ResidentEvil.jpg"
    gameName="Resident Evil"
    gameSize="FullGame"
    gamePlatform="PS5"
    gamePrice="69,99"
  ></app-card>
  <app-card
    gamePhoto="Stray.webp"
    gameName="Stray"
    gameSize="FullGame"
    gamePlatform="PS4"
    gamePrice="39,99"
  ></app-card>
  <app-card
    gamePhoto="TheLastOfUs.webp"
    gameName="The Last of Us"
    gameSize="FullGame"
    gamePlatform="PS5"
    gamePrice="79,99"
  ></app-card>
</main>
