:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background: rgb(12,10,34);
  background: linear-gradient(90deg, rgba(12,10,34,1) 0%, rgba(46,46,138,1) 100%);
}

.developing {
  font-size: 2.5rem;
  color: #f0f0f0;
  width: 100%;
  height: calc(100vh - 6.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}